In [1]:
pip install nltk

Requirement already satisfied: nltk in c:\users\sunen\anaconda3\lib\site-packages (3.6.1)
Requirement already satisfied: tqdm in c:\users\sunen\anaconda3\lib\site-packages (from nltk) (4.59.0)
Requirement already satisfied: regex in c:\users\sunen\anaconda3\lib\site-packages (from nltk) (2021.4.4)
Requirement already satisfied: joblib in c:\users\sunen\anaconda3\lib\site-packages (from nltk) (1.0.1)
Requirement already satisfied: click in c:\users\sunen\anaconda3\lib\site-packages (from nltk) (7.1.2)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import nltk

In [3]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\sunen\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\wordnet.zip.

True

#loading dataset

In [80]:
import pandas as pd

In [81]:
dt=pd.read_csv("spam.csv")

In [82]:
dt.head()

   type                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [83]:
dt['spam']=dt['type'].map({'spam':1,'ham':0}).astype(int)

In [84]:
dt.head()

   type                                               text  spam
0   ham  Go until jurong point, crazy.. Available only ...     0
1   ham                      Ok lar... Joking wif u oni...     0
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3   ham  U dun say so early hor... U c already then say...     0
4   ham  Nah I don't think he goes to usf, he lives aro...     0

In [85]:
print("COLUMNS IN THE GIVEN DATA:")
for col in dt.columns:
    print(col)

COLUMNS IN THE GIVEN DATA:
type
text
spam

In [86]:
t=len(dt['type'])
print("NO OF ROWS IN REVIEW COLUMN:",t)

NO OF ROWS IN REVIEW COLUMN: 116

In [87]:
#tokenization
dt['text'][4]

"Nah I don't think he goes to usf, he lives around here though"

In [88]:
def tokenizer(text):
    return text.split()

In [89]:
dt['text']=dt['text'].apply(tokenizer)

In [90]:
dt['text'][4]

['Nah',
 'I',
 "don't",
 'think',
 'he',
 'goes',
 'to',
 'usf,',
 'he',
 'lives',
 'around',
 'here',
 'though']

In [91]:
#stemming
from nltk.stem.snowball import SnowballStemmer
porter=SnowballStemmer("english",ignore_stopwords= False)

In [92]:
def stem_it(text):
    return[porter.stem(word) for word in text]

In [93]:
dt['text']=dt['text'].apply(stem_it)

In [94]:
dt['text'][4]

['nah',
 'i',
 "don't",
 'think',
 'he',
 'goe',
 'to',
 'usf,',
 'he',
 'live',
 'around',
 'here',
 'though']

In [95]:
#lemmitization
from nltk.stem import WordNetLemmatizer
lemmatizer=WordNetLemmatizer()

In [96]:
def lemmit_it(text):
    return[lemmatizer.lemmatize(word,pos='a')for word in text]

In [97]:
dt['text']=dt['text'].apply(lemmit_it)

In [98]:
dt['text'][4]

['nah',
 'i',
 "don't",
 'think',
 'he',
 'goe',
 'to',
 'usf,',
 'he',
 'live',
 'around',
 'here',
 'though']

In [99]:
from nltk.corpus import stopwords
stop_words = stopwords.words("english")

In [100]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\sunen\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [101]:
def stop_it(text):
    review = [word for word in text if not word in stop_words]
    return review

In [102]:
dt['text'] = dt['text'].apply(stop_it)

In [103]:
dt['text'][4]

['nah', 'think', 'goe', 'usf,', 'live', 'around', 'though']

In [104]:
dt.head()

   type                                               text  spam
0   ham  [go, jurong, point,, crazy.., avail, onli, bug...     0
1   ham                 [ok, lar..., joke, wif, u, oni...]     0
2  spam  [free, entri, 2, wkli, comp, win, fa, cup, fin...     1
3   ham  [u, dun, say, earli, hor..., u, c, alreadi, sa...     0
4   ham      [nah, think, goe, usf,, live, around, though]     0

In [105]:
dt['text'] = dt['text'].apply(' '.join)

In [106]:
dt.head()

   type                                               text  spam
0   ham  go jurong point, crazy.. avail onli bugi n gre...     0
1   ham                        ok lar... joke wif u oni...     0
2  spam  free entri 2 wkli comp win fa cup final tkts 2...     1
3   ham          u dun say earli hor... u c alreadi say...     0
4   ham              nah think goe usf, live around though     0

In [107]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf=TfidfVectorizer()
y=dt.spam.values
x=tfidf.fit_transform(dt['text'])

In [109]:
from sklearn.model_selection import train_test_split
x_train,x_text,y_train,y_text=train_test_split(x,y,random_state=1,test_size=0.2,shuffle=False)

In [110]:
from sklearn.linear_model import LogisticRegression
clf=LogisticRegression()
clf.fit(x_train,y_train)
y_pred=clf.predict(x_text)

In [112]:
from sklearn.metrics import accuracy_score
acc_log=accuracy_score(y_pred,y_text)*100
print("accuracy:",acc_log)

accuracy: 87.5